*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Josefin Sans';
}

html, body{
     width: 100%;
     height: 100%;
}

a{
     text-decoration: none;
}

.navbar{
     position: fixed;
     width: 100%;
     height: 70px;
     background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.494) 9.4%, rgba(0, 0, 0, 0.475) 17.6%, rgba(0, 0, 0, 0.447) 24.8%, rgba(0, 0, 0, 0.41) 31.2%, rgba(0, 0, 0, 0.37) 37%, rgba(0, 0, 0, 0.325) 42.4%, rgba(0, 0, 0, 0.275) 47.5%, rgba(0, 0, 0, 0.224) 52.5%, rgba(0, 0, 0, 0.176) 57.6%, rgba(0, 0, 0, 0.13) 63%, rgba(0, 0, 0, 0.086) 68.8%, rgba(0, 0, 0, 0.05) 75.2%, rgba(0, 0, 0, 0.024) 82.4%, rgba(0, 0, 0, 0.008) 90.6%, rgba(0, 0, 0, 0) 100%);
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 0.5s ease;
     z-index: 100;
}

.after-scroll{
     background-image: none;
     background-color: white;
     color: black;
     box-shadow: 0 5px 10px -6px rgb(66, 66, 66);
}

.hero-img{
     height: 85%;
     background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/Assets/Images/cover.jpg");
     background-size: cover;
     background-position: center;
}

.hero-txt{
     text-align: center;
     color: white;
     position: relative;
     top: 60%;
     left: 50%;
     transform: translate(-50%, -60%);
}

.hero-txt h1, h2{
     margin-bottom: 20px;
}

.hero-txt h2{
     color: #22b998;
}

.link{
     font-size: 30pt;
     color: #22b998;
}